.card-content {
  padding: 16px;

  &.tile {
    padding: 10px;
  }

  &.short .graph-container {
    right: 70px;
  }
}

.entity-row {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  margin-bottom: 8px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tile .entity-row {
  height: 36px;

  .entity-info {
    display: flex;
    flex-direction: column;
  }

  .entity-value {
    font-size: var(--ha-font-size-s);
    font-weight: var(--ha-font-weight-normal);
    line-height: var(--ha-line-height-condensed);
    margin-left: initial;
  }

  .icon-container {
    height: 36px;
    width: 36px;
  }
}

.entity-icon {
  color: var(--primary-text-color);
  fill: currentColor;
  margin-right: 8px;
  text-align: center;
  width: 40px;

  .tile & {
    cursor: pointer;
  }
}

.icon-container {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 0.2s ease-in-out;
  width: 40px;

  .entity-icon {
    margin-right: 0;
  }

  &.active {
    background-color: var(--state-active-color);
  }

  &.inactive {
    background-color: rgba(127, 127, 127, 0.2);
  }
}

.entity-name {
  z-index: 1;
}

.entity-value {
  color: var(--primary-text-color);
  margin-left: auto;
  z-index: 1;
}

.tile .entity-name {
  font-weight: bold;
}

.graph-container {
  bottom: 0;
  left: 45px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;

  svg {
    height: 100%;
    width: 100%;
  }
}

.graph-path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.graph-dot {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.entity-row:hover .graph-dot {
  opacity: 1;
}

.entity-with-toggle {
  align-items: center;
  display: flex;
  margin-left: auto;
  z-index: 1;
}
